a {
	cursor: pointer;
  }
  
  .jumbotron {
	background-image: url("./images/jumbotron.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	color: #ffffff;
  }
  
  .jumbotron .nav-link {
	color: #ffffff;
	display:inline;
	text-decoration: underline;
	font-size: 1.25rem;
	padding: 0.5rem;
  }
  
  .jumbotron-content {
	position: relative;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px 40px;
  }
  
  .jumbotron hr {
	border-top-color: #ffffff;
  }
  
  .name {
	margin-bottom: 2rem;
  }
  
  .nav-tabs {
	border: 0;
  }
  
  .nav-tabs .nav-link.active {
	border: 0;
	background: none;
  }
  
  #my-name {
	font-size: 2rem;
	line-height: 1.2;
  }
  
  .tagline {
	font-weight: 300;
	font-size: 1.5rem;
	margin-bottom: 1rem;
  }
  
  .nav-link {
	font-size: 1rem;
  }
  
  .nav-link:hover, .social-link:hover {
	color: #f7c5f2 !important;
  }
  
  .portfolio-item {
	text-align: center;
  }
  
  .navbar {
	background-color: #333;
	margin-bottom: 20px;
  }
  
  .nav {
	width: 100%;
  }
  
  .navbar .nav-link {
	color: #fff;
  }
  
  .project-link:hover {
	color: #0f1e7a;
	text-decoration: underline;
  }
  
  .portfolio-item {
	margin: 40px 0px;
	text-align: left;
  }
  
  .portfolio-image {
	position: relative;
	height: 200px;
  }
  
  .portfolio-image img {
	width: 70%;
  }
  
  .read-less-wrapper {
	display:none;
  }
  
  .more-info {
	display:none;
	text-align: left;
  }
  
  .service-item {
	margin: 10px;
  }
  
  .social-links-div {
	margin-top: 40px;
  }
  
  .social-link {
	color: #fff;
	padding: 5px;
  }
  
  #about-me-img {
	float: left;
	width: 320px;
	padding-right: 30px;
  }
  
  ul li {
	list-style-position: inside;
  }
  
  footer {
	margin-top: 40px;
	height: 60px;
  }
  
  footer p {
	text-align: center;
  }
  
  #contact {
	margin-top: 20px;
  }
  
  .contact-social-link-div .social-link {
	color: #333;
  }
  
  .contact-social-link-div {
	margin: auto;
	padding-top: 20px;
	height: 300px;
  }
  
  #contact h1 {
	font-size: 2rem;
  }
  
  #contact img {
	width: 100%;
  }
  
  /*media queries*/
  
  @media(max-width: 765px) {
	#about-me-img {
	  width: 100%;
	  padding-bottom: 20px;
	  text-align: center;
	}
  
	#contact h1 {
	  font-size: 1.5rem;
	}
  }
  
  @media (min-width: 766px) {
	.jumbotron {
	  height: 600px;
	  background-position: left top;
	}
  
	.jumbotron-content {
	  background-color: rgba(0, 0, 0, 0.3);
	  top: 50%;
	  transform: translateY(-50%);
	  padding: 100px 40px;
	}
  
  }
  
  @media (min-width: 766px) and (max-width: 1000px) {
	#my-name {
	  font-size: 2.5rem;
	}
  
	.portfolio-image img {
	  width: 200px;
	  bottom: 25%;
	}
  
	#about-me-img {
	  float: left;
	  width: 340px;
	  padding-right: 30px;
	}
  }
  
  @media (max-width: 767px)
  {
	.nav-link {
	  padding: 0.5rem 0.75rem;
	}
  }